<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyaud.idata.iam.biz.mapper.ProblemPhotoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyaud.idata.iam.biz.model.entity.ProblemPhoto">
        <result column="group_name" property="groupName" />
        <result column="file_id" property="fileId" />
        <result column="issue_id" property="issueId" />
        <result column="id" property="id" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="update_time" property="updateTime" />
        <result column="update_id" property="updateId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        group_name,
        file_id,
        issue_id,
        update_time,
        update_id,
    </sql>

</mapper>
